.card {
    width: 158px;
    height: 196px;
    border-radius: var(--default-border-radius);
    background-color: var(--background-neutral-100);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: var(--text-neutral-900);

    .card__values-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 116px;

        .card__title {
            font-size: 16px;
            line-height: 21px;
            font-weight: 700;
            text-align: center;
        }

        .card__value {
            font-size: 32px;
            line-height: 32px;
        }
    }

    .card__bar-container {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .card__bar {
            --hole-x: 50%;
            --background-tack: var(--background-neutral-200-alpha-04);
            --gradient: radial-gradient(50% 9453.13% at 50% 50%,
                rgba(84, 84, 84, 0.4) 0%,
                rgba(138, 138, 138, 0.4) 45.12%,
                #DADADA 100%,
                rgba(218, 218, 218, 0.4) 100%);
            position: relative;
            width: 100%;
            height: 8px;
        }

        .card__bar::before {
            content: "";
            position: absolute;
            inset: 0;
            background: var(--background-tack);
            border-radius: var(--default-border-radius);
            mask-image: radial-gradient(circle 60px at var(--hole-x) 50%, transparent 12%, black 12%);
            mask-repeat: no-repeat;
            z-index: 2;
        }

        .card__thumb {
            position: absolute;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #DADADA;
            left: var(--hole-x);
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .card__range-container {
            display: flex;
            justify-content: space-between;

            .card__range-description {
                font-size: 12px;
                line-height: 16px;
                color: var(--text-neutral-800);
            }
        }
    }

    .card__bar-container--center {
        justify-content: center !important;
    }
}