.card {
    display: flex;
    flex-direction: column;
    width: 158px;
    height: 196px;
    border-radius: var(--default-border-radius);
    background-color: var(--background-neutral-100);
    padding: var(--padding-small);
    gap: var(--gap-in-block-small);

    @media (min-width: 768px) and (max-width: 1023px) {
        width: 163px;
    }

    @media (max-width: 767px) {
        width: clamp(98px, 20vw, 128px);
        height: 148px;
        padding: var(--padding-xsmall);
        gap: 12px;
    }

    .card__values-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 116px;

        @media (max-width: 767px) {
            height: 86px;
        }

        .card__title {
            font-size: var(--font-size-text-medium);
            margin-bottom: -4px;
            color: var(--text-neutral-900);
            font-weight: 700;
            text-align: center;

            @media (max-width: 767px) {
                font-size: var(--font-size-text-small);
                line-height: var(--line-height-text-small);
            }
        }

        .card__icon {
            @media (max-width: 767px) {
                width: 24px;
            }
        }

        .card__value {
            font-size: 32px;
            line-height: 32px;
            color: var(--text-neutral-900);

            @media (max-width: 767px) {
                font-size: 22px;
                line-height: 22px;
            }
        }
    }

    .card__bar-container {
        display: flex;
        flex-direction: column;
        gap: 8px;

        @media (max-width: 767px) {
            gap: var(--gap-in-element-medium);
        }

        .card__bar {
            --background-track: var(--background-neutral-200-alpha-04);
            --transparent-radius-thumb: 8px;
            --mask-gradient: radial-gradient(circle at var(--hole-x, 50%) center, transparent var(--transparent-radius-thumb), black var(--transparent-radius-thumb));
            --gradient: radial-gradient(
                50% 9453.13% at 50% 50%,
                rgba(84, 84, 84, 0.4) 0%,
                rgba(138, 138, 138, 0.4) 45.12%,
                #dadada 100%,
                rgba(218, 218, 218, 0.4) 100%
            );

            position: relative;
            width: 100%;
            height: 8px;

            @media (max-width: 767px) {
                height: 6px;
                --transparent-radius-thumb: 6px;
            }
        }

        .card__bar::before {
            content: "";
            position: absolute;
            inset: 0;
            background: var(--background-track);
            border-radius: var(--default-border-radius);

            mask-image: var(--mask-gradient);
            -webkit-mask-image: var(--mask-gradient);
            -moz-mask-image: var(--mask-gradient);
        }

        .card__thumb {
            position: absolute;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #dadada;
            left: var(--hole-x, 50%);
            top: 50%;
            transform: translate(-50%, -50%);

            @media (max-width: 767px) {
                width: 6px;
                height: 6px;
            }
        }

        .card__range-container {
            display: flex;
            justify-content: space-between;

            .card__range-description {
                font-size: var(--font-size-text-small);
                line-height: var(--line-height-text-small);
                color: var(--text-neutral-800);

                @media (max-width: 767px) {
                    font-size: 10px;
                    line-height: 12px;
                }
            }
        }
    }

    .card__bar-container .card__bar-container--center {
        justify-content: center;
        text-align: center;
    }
}
