.content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: var(--gap-in-block-small);
    padding: var(--padding-large);
    color: var(--text-neutral-100);

    @media (max-width: 1023px) {
        flex-direction: column;
        align-items: center;
        padding: var(--padding-medium);
        gap: 48px;
    }

    @media (max-width: 767px) {
        flex-direction: column;
        padding: var(--padding-small);
        gap: 32px;
    }

    .weather-current {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        font-size: 20px;
        padding: 8px;

        @media (max-width: 1023px) {
            padding: 0;
            gap: var(--gap-in-block-medium);
        }

        @media (max-width: 767px) {
            padding: 0;
            gap: var(--gap-in-block-small);
            font-size: 14px;
            line-height: 16px;
        }

        .weather-current__information {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;

            @media (max-width: 1023px) {
                gap: var(--gap-in-element-medium);
            }

            @media (max-width: 767px) {
                gap: var(--gap-in-element-small);
            }

            .weather-current__title-city {
                font-weight: 700;
                font-size: 24px;
                line-height: 32px;
                text-align: center;

                @media (max-width: 767px) {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }

        .weather-current__temperature {
            text-align: center;
            font-size: 112px;
            line-height: 112px;
            font-weight: 700;

            @media (max-width: 767px) {
                font-size: 56px;
                line-height: 56px;
            }
        }

        .weather-current__state {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;

            @media (max-width: 1023px) {
                gap: var(--gap-in-element-medium);
            }

            @media (max-width: 767px) {
                gap: var(--gap-in-element-small);
            }

            .weather-current__content {
                display: flex;
                flex-direction: row;
                align-items: center;

                @media (max-width: 767px) {
                    img {
                        width: 16px;
                        height: 16px;
                    }
                }

                .weather-current__icon-description {
                    margin-left: 8px;
                    line-height: 24px;

                    @media (max-width: 767px) {
                        line-height: 16px;
                        margin-left: 4px;
                    }
                }
            }

            .weather-current__fill {
                line-height: 24px;

                @media (max-width: 767px) {
                    line-height: 16px;
                }
            }
        }
    }

    .weather-indications {
        max-width: 506px;
        display: grid;
        flex-grow: 1;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--gap-in-block-small);

        @media (max-width: 1023px) {
            max-width: 672px;
            gap: var(--gap-in-element-xlarge);
        }

        @media (max-width: 767px) {
            justify-content: center;
            gap: 8px;
        }
    }
}
