.footer {
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__link {
    font-size: 16px;
    line-height: 20px;
    color: var(--text-neutral-100);

    a {
        color: inherit;
        text-decoration-thickness: 1px;
        text-underline-offset: 2px;
    }
}