.footer {
    height: 84px;
    padding: var(--padding-large);

    @media (max-width: 1023px) {
        padding: var(--padding-medium);
        height: 68px;
    }

    @media (max-width: 767px) {
        padding: var(--gap-in-block-small);
        height: 48px;
    }

    .footer__link {
        text-align: center;
        font-size: var(--font-size-text-medium);
        line-height: var(--line-height-text-medium);
        color: var(--text-neutral-100);

        a {
            color: inherit;
            text-decoration-thickness: 1px;
            text-underline-offset: 2px;
        }

        @media (max-width: 767px) {
            font-size: var(--font-size-text-small);
            line-height: var(--line-height-text-small);
        }
    }
}
