.header {
    height: 112px;
    padding: var(--padding-large);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 768px) and (max-width: 1023px) {
        height: 96px;
        gap: 135px;
        padding: var(--padding-medium);
    }

    @media (max-width: 767px) {
        height: 64px;
        gap: 135px;
        padding: var(--padding-small);
    }

    @media (max-width: 639px) {
        gap: 16px;
    }
}
