.header {
    height: 112px;
    padding: var(--padding-large);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header {
        height: 96px;
        gap: 135px;
        padding: var(--padding-medium);
    }
}

@media screen and (max-width: 767px) {
    .header {
        height: 64px;
        gap: 135px;
        padding: var(--padding-small);
    }
}

@media screen and (max-width: 639px) {
    .header {
        gap: 16px;
    }
}
