.weather-group {
    padding: var(--padding-large);
    display: flex;
    flex-direction: column;
    gap: var(--gap-in-block-large);

    @media (max-width: 1023px) {
        padding: var(--padding-medium);
        gap: var(--gap-in-block-medium);
    }

    @media (max-width: 767px) {
        padding: var(--padding-small);
        gap: var(--gap-in-block-small);
    }

    .weather-group__header {
        display: flex;
        align-items: baseline;
        gap: var(--gap-in-block-large);

        @media (max-width: 1023px) {
            gap: var(--gap-in-block-medium);
        }

        @media (max-width: 767px) {
            gap: var(--gap-in-block-small);
        }

        .weather-group__title {
            line-height: 32px;
            color: var(--text-neutral-100);

            @media (max-width: 767px) {
                font-size: var(--font-size-text-medium);
                line-height: var(--line-height-text-medium);
            }
        }

        .weather-group__options {
            display: flex;
            gap: var(--gap-in-block-large);

            @media (max-width: 1023px) {
                gap: var(--gap-in-block-medium);
            }

            @media (max-width: 767px) {
                height: 22px;
                gap: var(--gap-in-block-small);
            }

            .weather-group__link {
                line-height: 20px;
                background-color: transparent;
                border: 0;
                color: var(--text-neutral-400);
                font-weight: 700;
                cursor: pointer;

                @media (max-width: 767px) {
                    font-size: var(--font-size-text-small);
                    line-height: var(--line-height-text-small);
                }
            }

            .weather-group__link:hover {
                text-decoration-line: underline;
                text-decoration-thickness: 2px;
                text-underline-offset: 7px;
            }

            .weather-group__link--underline {
                color: var(--text-neutral-100);
                text-decoration-line: underline;
                text-decoration-thickness: 2px;
                text-underline-offset: 7px;

                @media (max-width: 767px) {
                    text-underline-offset: 4px;
                }
            }
        }
    }

    .weather-group__details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--gap-in-block-large);

        @media (max-width: 1023px) {
            gap: var(--gap-in-block-medium);
        }

        @media (max-width: 767px) {
            gap: var(--gap-in-block-small);
        }

        .weather-group__btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 56px;
            min-width: 56px;
            height: 48px;
            border: 0;
            border-radius: var(--default-border-radius);
            background-color: var(--background-neutral-100);
            cursor: pointer;

            @media (max-width: 767px) {
                min-width: 40px;
                height: 32px;

                img {
                    width: 16px;
                }
            }

            @media (max-width: 639px) {
                max-width: 40px;
            }
        }

        .weather-group__btn:hover {
            background-color: var(--background-neutral-200);
        }

        .weather-group__btn--disable,
        .weather-group__btn--disable:hover {
            background-color: var(--background-neutral-100);
            opacity: 0.5;
            cursor: not-allowed;
        }

        .weather-group__btn--rotate {
            transform: rotate(180deg);
        }

        .weather-group__list {
            display: flex;
            flex-grow: 1;
            gap: var(--gap-in-block-small);
            overflow: hidden;
            mask-image: linear-gradient(90deg, black 95%, transparent 100%);
            mask-repeat: no-repeat;

            @media (max-width: 1023px) {
                gap: var(--gap-in-element-xlarge);
            }

            @media (max-width: 767px) {
                gap: var(--gap-in-element-large);
            }

            .weather-group__card {
                border: 0;
                border-radius: var(--default-border-radius);
                background-color: var(--background-neutral-100);
                display: flex;
                align-items: center;
                padding: var(--padding-small);
                font-size: var(--font-size-text-medium);
                line-height: var(--line-height-text-medium);
                letter-spacing: 0.08px;
                gap: var(--gap-in-block-small);
                text-wrap: nowrap;

                @media (min-width: 768px) and (max-width: 885px) {
                    flex-direction: column;
                    padding: var(--padding-small);
                    font-size: var(--font-size-text-medium);
                    line-height: var(--line-height-text-medium);
                    gap: var(--gap-in-block-small);

                    img {
                        width: 32px;
                        height: 32px;
                    }
                }

                @media (max-width: 767px) {
                    font-size: var(--font-size-text-small);
                    line-height: var(--line-height-text-small);
                    gap: var(--gap-in-element-xlarge);
                    padding: var(--padding-xsmall);
                    flex-direction: row;

                    img {
                        width: 24px;
                        height: 24px;
                    }
                }

                @media (max-width: 639px) {
                    flex-direction: column;
                }
            }
        }
    }
}
