@import url("./variables.css");
@import url("./fonts.css");
@import url("./normalize.css");
@import url("./blocks/header.css");
@import url("./blocks/content.css");
@import url("./blocks/weatherGroup.css");
@import url("./blocks/footer.css");
@import url("./blocks/searchBar.css");
@import url("./blocks/logo.css");
@import url("./blocks/card.css");

* {
    font-variant-numeric: lining-nums;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../public/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    font-family: "Raleway", sans-serif;
    font-weight: 400;
    line-height: 24px;

    display: flex;
    justify-content: center;
    padding: var(--margin-large);

    @media (width <= 1023px) {
        padding: var(--margin-medium);
    }

    @media (min-width: 375px) and (max-width: 767px) {
        padding: var(--padding-small);
    }
}

.main-wrapper {
    max-width: var(--max-width-content);
    width: 100%;
    background-color: rgba(112, 112, 112, 0.1);
    backdrop-filter: blur(25px);
    border-radius: var(--default-border-radius);

    @media (min-width: 375px) and (max-width: 767px) {
        min-width: 343px;
    }

    @media (max-width: 375px) {
        overflow: hidden;
    }
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}
